.hidden {
    display: none;
}

/* ==================== BASE STYLES ==================== */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    font-weight: regular;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
}

h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 56px;
    line-height: 1.07;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.02em;
}

h2 {
    font-size: 36px;
    color: rgba(46, 47, 66, 1);
    font-weight: bold;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

h3 {
    font-size: 20px;
    color: rgba(46, 47, 66, 1);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(67, 68, 85, 1);
    font-weight: regular;
    letter-spacing: 0.02em;
}

/* a {
    text-decoration: none;
} */

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    font-style: normal;
}

/* common */
.container {
    width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}


@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding: 0 15px;
    }
}

/* ==================== HEADER SECTION ==================== */

.page-header {
    padding-top: 16px;
    /* width: 320px; */
    height: 56px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.header-menu, 
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo:hover {
    color: rgba(64, 75, 191, 1);
}

.logo:focus {
    color: rgba(64, 75, 191, 1);
}

a, span {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: 0;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }
.header-container{
    align-items: center;
}
    .logo {
        margin-right: 120px;
    }

    .page-header {
        height: 72px;
    }

    .header-menu {
        display: flex;
        align-items: center;
        gap: 40px;
        color: #404bbf;
    }

    .header-menu li:first-child .header-link {
        color: #404bbf; 
    }

    .header-link {
        color: #404bbf;
        padding-top: 24px;
        padding-bottom: 24px;
        position: relative;
        padding: 24px 0;
        transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative; 
        color:rgba(46, 47, 66, 1);
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 0.02em;
    }

    .header-link::after {
        background-color: #404bbf;
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px; 
        width: 100%;
        transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 2px;
        transform: scaleX(0);
        transform-origin: left;
    }
    
    .header-link:hover::after,
    .header-link:focus::after {
    transform: scaleX(1); 
    }

    .header-link:hover,
    .header-link:focus {
    color: #404bbf; 
    }

    .contacts {
        font-style: normal;
        display: block;
    }

    .contact-link {
        font-size: 12px;
        color: #434455;
        letter-spacing: 0.04em;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-style: normal;
        line-height: 1.17;
    }
    
    .contact-link:hover {
        color: rgba(64, 75, 191, 1);
    }
    
    .contact-link:focus {
        color: #404bbf;
    }
    

    .header-nav {
        display: flex;
    }

}

@media screen and (min-width: 1158px) {
    .logo {
        margin-right: 76px;
    }
    
    .contacts {
        display: flex;
        gap: 40px;
    }

    .contact-link {
        color: #434455;
        letter-spacing: 0.02em;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-style: normal;
        margin-left: 40px;
        font-size: 16px;
        line-height: 1.5;
    }
    
    .contact-link:hover {
        color: rgba(64, 75, 191, 1);
    }
    
    .contact-link:focus {
        color: #404bbf;
    }

    .page-header {
        padding: 24px;
    }
    
}

/* Mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* margin-left: 16px; */
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-menu-link {
    font-size: 36px;
    line-height: 1.2;
    color: #2e2f42;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-weight: 700;
}

.mobile-menu li:first-child .mobile-menu-link {
    color: #404bbf;
}

.mobile-contacts-nav {
    margin-bottom: 48px;
}

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.mobile-contact-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
}

li:first-child .mobile-contact-link {
    color: #404bbf;
}

.mobile-social-container {
}
.mobile-social-list {
    display: flex;
    gap: 40px;
}
.mobile-social-link {
    background: rgb(77, 90, 229);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-social-item {
    width: 16px;
    height: 16px;
    fill: rgb(244, 244, 253);
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-social-icon {
}

@media screen and (min-width: 768px)    {
    .mobile-menu {
        display: none;
    }
}

/* ==================== HERO SECTION ==================== */

.business-section {
    width: 320px;
    height: 432px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ), url("../images/Mob/dark-bg-mob-@1x.jpg");
        background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 188px;
    padding-bottom: 188px;
    margin: 0 auto; 
}

.business-container {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 72px 52px;
}

.business-text {
    font-size: 36px;
    line-height: 111%;
    margin-bottom: 72px;
}

.order-button {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(77, 90, 229, 1);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: none;
    width: 169px;
    height: 56px;
    /* margin-top: 48px; */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.order-button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(64, 75, 191, 1);
}

.order-button:focus {
    background-color: #404BBF;
}

@media (min-device-pixel-ratio: 2), 
(min-resolution: 192dpi),
(min-resolution: 2ddpx) {
    .business-section {
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ), url("../images/Mob/dark-bg-mob-@2x.jpg");
    }
  }

   

@media screen and (min-width: 768px) {
    .business-section {
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ), url("../images/tab/dark-bg-tab-@1x.jpg");
        width: 768px;
        height: 432px;
    }
    .business-text {
        width: 496px;
        height: 120px;
        font-size: 56px;
        line-height: 107%;
        margin-bottom: 36px;
    }
     
    @media (min-device-pixel-ratio: 2), 
     (min-resolution: 192dpi),
     (min-resolution: 2ddpx) {
    .business-section {
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ), url("../images/tab/dark-bg-tab-@2x.jpg");
    }
  }
}

@media screen and (min-width: 1158px) {
    .business-section {
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ), url("../images/pc/dark-bg-@1x.jpg");
        width: 1440px;
        height: 600px;
    }
    .business-text {
        width: 496px;
        height: 120px;
        margin-bottom: 48px;
    }
    .order-button{
    
    }

    @media (min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi),
    (min-resolution: 2ddpx) {
        .business-section {
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ), url("../images/pc/dark-bg-@2x.jpg");
        }
    }
}

/* ==================== VALUES SECTION ==================== */
.values-container {
    
}

.icon-container {
    display: none;
}
.values-container {
    padding-bottom: 96px 0;
}

.visually-hidden {
    display: none;
}

.values-list {
    margin-bottom: 96px;
}

.values-subtitle {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    margin-top: 96px;
    margin-bottom: 8px;
    line-height: 111%;
}

.text {
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .values-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .values-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .values-subtitle {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    
    .icon-container {
        width: 264px;
        height: 112px;
        box-sizing: border-box;
        border: 1px solid #8e8f99; 
        background-color: #f4f4fd; ;
        border-radius: 4px;
        margin-bottom: 8px;
        position: relative; 
        display: flex;
        align-items: center;
        justify-content: center;
       }

    .values-icon {
        width: 64px;
        height: 64px;
        position: relative; 
    }

    .values-list {
        display: flex;
        gap: 24px;
        flex-wrap: nowrap;
        margin-top: 120px;
    }

    .values-item {
        width: calc((100% - 72px) / 4);
        align-items: center;
    }

    .values-subtitle {
        color: rgb(46, 47, 66);
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 2%;
        text-align: left;
        margin-bottom: 8px;
        margin: 0;
    }
    
    .text {
        color: rgb(67, 68, 85);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 2%;
        text-align: left;
    }
}

/* ==================== TEAM SECTION ==================== */

.team-section {
    background-color: #f4f4fd;
    padding-top: 72px;
    padding-bottom: 72px;
}

.team-subtitle {
    margin-bottom: 72px;
    
}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.member-card {
    padding: 32px 0;
}

.team-member {
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-name {
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: center;
    margin-bottom: 8px;
}

.icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.icon-link:hover, .icon-link:focus{
    background-color: #404bbf;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}


.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-item {
    background: rgb(77, 90, 229);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social { 
    width: 16px;
    height: 16px;
    fill: rgb(244, 244, 253);
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        padding-left: 108px;
    }

    .member-card {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
        padding-left: 0;
    }
    .member-card {
        flex-basis: calc((100% - 72px) / 4);
    }
}

    /* ==================== PORTFOLIO SECTION ==================== */
   .portfolio-container {
    
   }
   .portfolio-title {
    margin-top: 96px;
    margin-bottom: 72px;
   }

   .portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 96px;
   }

   .portfolio-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
   }

   .portfolio-item:first-child {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
   }

   .overlay-text {
    display: none;
   }

   .porfolio-subtitle {
    
   }

   .portfolio-text {
    margin-top: 8px;
   }

   .portfolio-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
   }

   @media screen and (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }

    .portfolio-item {
        flex-basis: calc((100% - 24px) / 2);
    }

   }

@media screen and (min-width: 1158px) {
    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 48px;
        justify-content: center;
        margin-bottom: 120px;
    }

    .portfolio-item {
        flex-basis: calc((100% - 48px) / 3);
        overflow: hidden;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
        box-sizing: border-box;
    }
    .overlay-container {
        position: relative;
        overflow: hidden;
    }
    .portfolio-item:hover{
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    
    .portfolio-item:hover .overlay-text {
        transform: translateY(0%);
    }

    .overlay-text {
        display: block;
        position: absolute;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 40px 32px;
        background-color: #4d5ae5;
        width: 100%;
        height: 100%;
        top: 0;
        color: #f4f4fd;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
}

/* ==================== FOOTER SECTION ==================== */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
}

.footer-content{
    margin-bottom: 72px;
}

.footer-logo {
    color: #4d5ae5;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    margin-bottom: 16px;
    display:flex;
    justify-content: center;
}

.studio-span {
    color: #f4f4fd;
}

.footer-logo:focus {
    color: rgba(64, 75, 191, 1);
}

.footer-text {
    color: #FFFFFF;
    /* width: 264px; */
    margin: 0 auto;
}

.social-text{
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}

.footer-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 72px;
}

.footer-item {
    background: rgb(77, 90, 229);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .footer-icon {
    width: 24px;
    height: 24px;
   fill: rgb(244, 244, 253);
  
}

.icon-link-footer{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer:hover, .icon-link-footer:focus{
    background-color: #31d0aa;
}

.subscribe-container {
}

.subcribe-text {
    color: #fff;
    width: 75px;
    height: 24px;
    margin-bottom: 16px;
    padding-left: 89px;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    border: none;
    background-color: transparent;
}

.input-footer {
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #fff;
    opacity: 0.3;
}

.input-footer::placeholder {
    color: #ffffff;
}

.subscribe-text {
    padding-left: 15px;
    color: #fff;
    width: 77px;
    height: 24px;
    margin-bottom: 16px;
}

.subscribe-button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background: rgb(77, 90, 229);
    min-width: 165px;
    height: 40px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 8px 24px;
    border: none;
    cursor: pointer;
}

.subscribe-button:hover, .subscribe-button:focus {
    background: rgba(64, 75, 191, 1);
}

.subscribe-icon {
    fill: rgb(255, 255, 255);
    width: 24px;
    height: 20px;
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* justify-content: start; */
        padding-left: 108px;
        align-items: baseline;
    }
.footer-logo {
justify-content: start;
}
    .footer-content {
        margin-right: 24px;
        text-align: left;
    }
    .footer-text{
        width: 264px;
    }

    .social-text {
        text-align: left;
    }

    .subscribe-form {
        flex-direction: row;
        gap: 24px;
    }

    .subcribe-text {
        padding-left: 0;
    }

    
}

@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
        height: 312px;
    }

    .footer-container {
        flex-wrap: nowrap;
        align-items: baseline;
        padding-left: 15px;
    }

    .footer-content {
        margin-right: 120px;
    }

    .social-container{
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    .social-media {
        margin-right: 80px;
    }

    .footer-text {
        margin: 0;
    }

    .subscribe-container {
        margin-left: 80px;
        display: flex;
        flex-direction: column;
    }

    .input-footer {
        opacity: 1;
    }
}

/* ==================== MODAL  ==================== */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px; 
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%);
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgb(231, 233, 252);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, .modal-close:focus{
    background: rgb(64, 75, 191);
    fill: rgb(255, 255, 255);
    border: none;
}

.modal-text {
    font-weight: 500;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-form {
    position: relative;
}

.form-field {
    margin-bottom: 8px;
}

.form-field input {
    padding-left: 38px;
}

.form-field-comment {
    margin-bottom: 8px;    
}

.form-field-privacy {
    margin-bottom: 24px;
}

.form-label {
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}

.input-wrapper {
    margin-top: 4px;
    position: relative;
}

.form-input {
    resize: none;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.form-input::placeholder {
    padding-top: 8px;
    padding-left: 16px;
}
.form-input:focus {
    border-color:  #4D5AE5;
}

.comment-input{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.comment-input:focus {
    border-color:  #4D5AE5;
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.form-input:focus + .form-icon {
    fill: #4D5AE5;
}



.label-content {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.check-input:checked + .check-text .label-content {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.check-input:checked + .check-text .custom-checkbox {
    background-color: #4D5AE5;
    border: none;
    fill: #F4F4FD;
}

.check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.check-svg {
    display: inline-flex;
    fill: #F4F4FD;
    opacity: 0;
}

.check-input:checked + .check-text .check-svg {
    background-color: #404bbf;
    border: none;
    fill:  #F4F4FD;
    opacity: 1;
}

.check-input:focus {
    background-color: #404BBF;
}

.label-text {
    font-size: 12px;
    margin-top: 16px;
    color: rgba(117, 117, 117, 1);

}
.checkbox-span{
}

.accept{

}
.policy-text{
    display: flex;
}
.privacy-policy {
    color: #4d5ae5; 
    text-decoration: underline;
    /* margin-left: 4px; */
}

.send-button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(77, 90, 229);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    min-width: 169px;
    height: 56px;
    margin-top: 24px;
    margin-left: 30px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover {
    background-color: rgba(64, 75, 191, 1);
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
    }

    .modal-text {
        font-size: 16px;
        line-height: 150%;
    }

    .modal-form {
    }

    .form-field {
    }

    .form-field input {
    }

    .form-field-comment {
        height: 138px;
    }

    .comment-input {
    }
.policy-text {
    margin-top: 16px;
}
    .form-field-privacy {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .form-icon {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }

    .form-input:focus + .form-icon {
        fill: #4D5AE5;
    }

    .send-button {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1158px) {
    .modal {
       
    }

    .modal-text {
        font-size: 16px;
        line-height: 150%;
    }

    .modal-form {
        width: 360;
        height: 336;
    }

    .form-field {
        
    }

    .form-field input {
       
    }

    .form-field-comment {
        height: 138px;
    }

    .comment-input {
    }

    .form-field-privacy {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .form-icon {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }

    .form-input:focus + .form-icon {
        fill: #4D5AE5;
    }

    .send-button {
        margin: 0 auto;
    }